/* LETRA DE PAG */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto:wght@500&display=swap');

.header{
    background-color: #99754E;
    border-bottom: solid 1px black;
}


body { 
    background-color: #DCCBB9;
}

.logo{
    width: 150px;
    border-radius: 80px;
}

.nav-link{
    font-size: 18px;
    color: black;
}

.carousel-item{
    height: 280px;
}

.carousel-item img{
    height: 280px;
}

.carrousel__contenedor{
    margin-top: 7%;
}

.text__contenedor{
    margin-top: 7%;
}

.footer{
    background: #99754E;
    border-top: solid 1px black;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.footer p{
    text-align: center; 
    font-size: 20px;
}

.footer__list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}


/* MAIN */

.main__imagen {
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 10%;
}

/* TABLA PRECIOS EN CONTACTOS */
.contenedor{
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tabla{
    width: 33%;
    height: 450px;
    margin: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px black;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
}

.tabla>h2{
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla img{
    width: 150px;
    margin-bottom: 5px;
}

.tabla > h3{
    font-size: 30px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width: none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
    .tabla h2{
        margin-top: 40px;
    }
}

@media screen and (max-width: 550px){
    .tabla{
        width: 85%;
        padding: 20px;
    }
}

.h1{
    font-size: 30px;
    margin-top: 60px;
    color: black;
    margin: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px black;
}

a{
    text-decoration: none;
}


/* TABLA PRECIOS EN CONTACTOS */
.contenedor{
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tabla{
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px black;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
}

.tabla>h2{
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla img{
    width: 150px;
    margin-bottom: 5px;
}

.tabla > h3{
    font-size: 30px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width: none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
    .tabla h2{
        margin-top: 40px;
    }
}

@media screen and (max-width: 550px){
    .tabla{
        width: 85%;
        padding: 20px;
    }
}

.hh{
    font-size: 30px;
    margin-top: 60px;
    color: rgb(99, 93, 93);
    margin: auto;
    margin-bottom: 40px;

}

.hh:hover{
    transition: 0.5s;
    background: rgb(0, 0, 0);
}

/* FORM. CONT */
textarea {
    resize: none;
}
.form-register{
    width: 400px;
    background-color: #99754E;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    color: black;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 18px;
}

.form-register .bottons{
    width: 100%;
    border: none;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
}
